body{
  background-color: rgba(51, 19, 102, 1)
}
.bar{
  /*   display: block;  */
  padding: 10;
  background-color: rgba(82, 255, 99, 1);
}
.highlight-bar-1{
  background-color: red;
}
.mr-2{
  margin-right: 20%;
}
.bg-black{
  background-color: black;
}
