body{
  background-color: rgba(51, 19, 102, 1)
}

.bar{
  /*   display: block;  */
  padding: 10;
  background-color: rgba(82, 255, 99, 1);
}
.highlight-bar-1{
  background-color: red;
}
.highlight-bar-2{
  background-color: rgba(247, 58, 228, 1);
}
.mr-2{
  margin-right: 25%;
}
.bg-black{
  background-color: black;
}
.bg-dark{
  background-color: rgba(27, 8, 48, 1) !important;
}
.fixed-side {
  height: 100%;
  width: 19%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
tr, td{
  color: white;
  padding: 2%;
  border-color: rgba(161, 251, 167, 1);
  border-width: 1px;
}
